<header>
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
            {% if entry.url == page.url %}
                {% set activeClass = 'nav-item-active' %}
            {% else %}
                {% set activeClass = '' %}
            {% endif %}
            <li class="nav-item {{ activeClass }}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
    </ul>
</header>
